In [1]:
#packages
import pandas as pd

In [2]:
#importing dataset
data=pd.read_csv("C:/Users/KIBET/Desktop/data_handsfree2 (1).csv")

In [3]:
#reading first five rows of the dataset
data.head()

   part_id driving_condition  hazzard_rt  speed_avg  speed_var
0        1             phone     1176.42     102.62       6.10
1        2             phone     1070.41     100.66       7.07
2        3             phone     1058.12     102.61       7.33
3        4             phone     1167.36     102.35       8.00
4        5             phone     1150.50     104.93       7.81